body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.head {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  color: #fac650;
  background-color: #111720;
  font-family: "Press Start 2P", cursive;
}
.main {
  display: flex;
  flex-direction: column;
  background-color: #222831;
  color: #dddddd;
  font-family: "Roboto", sans-serif;
}
