body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
}
.head {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fac650;
  background-color: #111720;
  font-family: "Press Start 2P", cursive;
}
.main {
  display: flex;
  flex-grow: 1;
  height: 100vh;
  flex-direction: column;
  background-color: #222831;
  color: #dddddd;
  font-family: "Roboto", sans-serif;
  align-items: center;
  border: 1px solid red;
}

.main-text {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-text > h3 {
  font-size: 35px;
}
.main-text > p {
  font-size: 20px;
  margin-top: -20px;
}
.text-content {
  display: flex;
  width: 100%;
  border: 1px solid yellow;
  display: flex;
  font-size: 40px;
  justify-content: center;
  align-items: center;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
